<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TopicMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.Topic">
    <id column="topic_id" jdbcType="INTEGER" property="topicId" />
    <result column="topic_title" jdbcType="VARCHAR" property="topicTitle" />
    <result column="topic_content_md" jdbcType="VARCHAR" property="topicContentMd" />
    <result column="topic_content_html" jdbcType="VARCHAR" property="topicContentHtml" />
    <result column="topic_publish_time" jdbcType="TIMESTAMP" property="topicPublishTime" />
    <result column="topic_modify_time" jdbcType="TIMESTAMP" property="topicModifyTime" />
    <result column="topic_last_reply_time" jdbcType="TIMESTAMP" property="topicLastReplyTime" />
    <result column="topic_likes" jdbcType="INTEGER" property="topicLikes" />
    <result column="topic_hits" jdbcType="INTEGER" property="topicHits" />
    <result column="topic_replies" jdbcType="INTEGER" property="topicReplies" />
    <result column="topic_deleted" jdbcType="BIT" property="topicDeleted" />
    <result column="topic_excellent" jdbcType="BIT" property="topicExcellent" />
    <result column="topic_user_phone" jdbcType="VARCHAR" property="topicUserPhone" />
    <result column="topic_last_reply_user_phone" jdbcType="VARCHAR" property="topicLastReplyUserPhone" />
  </resultMap>
  <sql id="Base_Column_List">
    topic_id, topic_title, topic_content_md, topic_content_html, topic_publish_time, 
    topic_modify_time, topic_last_reply_time, topic_likes, topic_hits, topic_replies, 
    topic_deleted, topic_excellent, topic_user_phone, topic_last_reply_user_phone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from topic
    where topic_id = #{topicId,jdbcType=INTEGER}
  </select>
  <select id="selectLimitTopics" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from topic
    limit #{offset},#{limit}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from topic
    where topic_id = #{topicId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.Topic">
    insert into topic (topic_id, topic_title, topic_content_md, 
      topic_content_html, topic_publish_time, topic_modify_time, 
      topic_last_reply_time, topic_likes, topic_hits, 
      topic_replies, topic_deleted, topic_excellent, 
      topic_user_phone, topic_last_reply_user_phone
      )
    values (#{topicId,jdbcType=INTEGER}, #{topicTitle,jdbcType=VARCHAR}, #{topicContentMd,jdbcType=VARCHAR}, 
      #{topicContentHtml,jdbcType=VARCHAR}, #{topicPublishTime,jdbcType=TIMESTAMP}, #{topicModifyTime,jdbcType=TIMESTAMP}, 
      #{topicLastReplyTime,jdbcType=TIMESTAMP}, #{topicLikes,jdbcType=INTEGER}, #{topicHits,jdbcType=INTEGER}, 
      #{topicReplies,jdbcType=INTEGER}, #{topicDeleted,jdbcType=BIT}, #{topicExcellent,jdbcType=BIT}, 
      #{topicUserPhone,jdbcType=VARCHAR}, #{topicLastReplyUserPhone,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.Topic">
    insert into topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="topicId != null">
        topic_id,
      </if>
      <if test="topicTitle != null">
        topic_title,
      </if>
      <if test="topicContentMd != null">
        topic_content_md,
      </if>
      <if test="topicContentHtml != null">
        topic_content_html,
      </if>
      <if test="topicPublishTime != null">
        topic_publish_time,
      </if>
      <if test="topicModifyTime != null">
        topic_modify_time,
      </if>
      <if test="topicLastReplyTime != null">
        topic_last_reply_time,
      </if>
      <if test="topicLikes != null">
        topic_likes,
      </if>
      <if test="topicHits != null">
        topic_hits,
      </if>
      <if test="topicReplies != null">
        topic_replies,
      </if>
      <if test="topicDeleted != null">
        topic_deleted,
      </if>
      <if test="topicExcellent != null">
        topic_excellent,
      </if>
      <if test="topicUserPhone != null">
        topic_user_phone,
      </if>
      <if test="topicLastReplyUserPhone != null">
        topic_last_reply_user_phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="topicId != null">
        #{topicId,jdbcType=INTEGER},
      </if>
      <if test="topicTitle != null">
        #{topicTitle,jdbcType=VARCHAR},
      </if>
      <if test="topicContentMd != null">
        #{topicContentMd,jdbcType=VARCHAR},
      </if>
      <if test="topicContentHtml != null">
        #{topicContentHtml,jdbcType=VARCHAR},
      </if>
      <if test="topicPublishTime != null">
        #{topicPublishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="topicModifyTime != null">
        #{topicModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="topicLastReplyTime != null">
        #{topicLastReplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="topicLikes != null">
        #{topicLikes,jdbcType=INTEGER},
      </if>
      <if test="topicHits != null">
        #{topicHits,jdbcType=INTEGER},
      </if>
      <if test="topicReplies != null">
        #{topicReplies,jdbcType=INTEGER},
      </if>
      <if test="topicDeleted != null">
        #{topicDeleted,jdbcType=BIT},
      </if>
      <if test="topicExcellent != null">
        #{topicExcellent,jdbcType=BIT},
      </if>
      <if test="topicUserPhone != null">
        #{topicUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="topicLastReplyUserPhone != null">
        #{topicLastReplyUserPhone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.Topic">
    update topic
    <set>
      <if test="topicTitle != null">
        topic_title = #{topicTitle,jdbcType=VARCHAR},
      </if>
      <if test="topicContentMd != null">
        topic_content_md = #{topicContentMd,jdbcType=VARCHAR},
      </if>
      <if test="topicContentHtml != null">
        topic_content_html = #{topicContentHtml,jdbcType=VARCHAR},
      </if>
      <if test="topicPublishTime != null">
        topic_publish_time = #{topicPublishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="topicModifyTime != null">
        topic_modify_time = #{topicModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="topicLastReplyTime != null">
        topic_last_reply_time = #{topicLastReplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="topicLikes != null">
        topic_likes = #{topicLikes,jdbcType=INTEGER},
      </if>
      <if test="topicHits != null">
        topic_hits = #{topicHits,jdbcType=INTEGER},
      </if>
      <if test="topicReplies != null">
        topic_replies = #{topicReplies,jdbcType=INTEGER},
      </if>
      <if test="topicDeleted != null">
        topic_deleted = #{topicDeleted,jdbcType=BIT},
      </if>
      <if test="topicExcellent != null">
        topic_excellent = #{topicExcellent,jdbcType=BIT},
      </if>
      <if test="topicUserPhone != null">
        topic_user_phone = #{topicUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="topicLastReplyUserPhone != null">
        topic_last_reply_user_phone = #{topicLastReplyUserPhone,jdbcType=VARCHAR},
      </if>
    </set>
    where topic_id = #{topicId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.Topic">
    update topic
    set topic_title = #{topicTitle,jdbcType=VARCHAR},
      topic_content_md = #{topicContentMd,jdbcType=VARCHAR},
      topic_content_html = #{topicContentHtml,jdbcType=VARCHAR},
      topic_publish_time = #{topicPublishTime,jdbcType=TIMESTAMP},
      topic_modify_time = #{topicModifyTime,jdbcType=TIMESTAMP},
      topic_last_reply_time = #{topicLastReplyTime,jdbcType=TIMESTAMP},
      topic_likes = #{topicLikes,jdbcType=INTEGER},
      topic_hits = #{topicHits,jdbcType=INTEGER},
      topic_replies = #{topicReplies,jdbcType=INTEGER},
      topic_deleted = #{topicDeleted,jdbcType=BIT},
      topic_excellent = #{topicExcellent,jdbcType=BIT},
      topic_user_phone = #{topicUserPhone,jdbcType=VARCHAR},
      topic_last_reply_user_phone = #{topicLastReplyUserPhone,jdbcType=VARCHAR}
    where topic_id = #{topicId,jdbcType=INTEGER}
  </update>
</mapper>